name: GitHub Stats
on:
  schedule:
    - cron: "0 0 * * *" # Runs every night at midnight
  workflow_dispatch: # Allows manual trigger

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Generate Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_PAYLOAD_TOKEN }}
          user: sm-26
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: UTC
